@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cookie&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

/*HEADER*/

.header {
    width: 100%;
    height: 25vh;
    /*background: #b3e6ae;*/
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #b3e6ae;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;

    list-style-type: none;
}

.nav-left a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 25px;

    text-decoration: none;
}

.nav-left a:hover{
    color: white;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;

    list-style-type: none;
}

.nav-right a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 25px;

    text-decoration: none;
}

.nav-right a:hover{
    color: white;
}
.logo1 img {
    height: 300px;
}