@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cookie&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cookie&family=Eagle+Lake&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

/*DATA DE LAS FUENTES*/

/*
.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
.geom-<uniquifier> {
    font-family: "Geom", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  FONT DE ESTILO CELTA
  .eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
  }
  */

* {
    margin: 5;
    padding: 0;

}

/*HEADER*/

.header {
    width: 100%;
    height: 35vh;
    position: sticky;

    /*border-bottom: 1px solid #e5e5e5;*/
    top: 0;
    z-index: 1000;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b3e6ae;
    height: 35vh;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 30px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-left li{
    position: relative;
}

.nav-left a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    text-decoration: none;
}

.nav-left a:hover {
    color: white;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-right a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;

    text-decoration: none;
}

.nav-right a:hover {
    color: white;
}

.logo1 img {
    height: 35vh;
}

/*DROPDOWN*/

/* Evitar que las listas anidadas se vean siempre */
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Mostrar dropdown al hacer hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilo de las opciones del dropdown */
.dropdown-menu li a {
    display: block;
    padding: 8px 20px;
    color: darkgreen;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    background: #eee;
}
