@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cookie&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cookie&family=Eagle+Lake&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

/*DATA DE LAS FUENTES*/

/*
.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
.geom-<uniquifier> {
    font-family: "Geom", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  FONT DE ESTILO CELTA
  .eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
  }
  */

* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;

}

/*HEADER*/

.header {
    width: 100%;
    height: 200px;
    position: sticky;
    padding-top: 50px;

    /*border-bottom: 1px solid #e5e5e5;*/
    top: 0;
    z-index: 1000;

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b3e6ae;
    height: 100px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 30px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-left li {
    position: relative;
}

.nav-left a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    text-decoration: none;
}

.nav-left a:hover {
    color: white;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px;*/
    gap: 20px;

    list-style-type: none;
}

.nav-right a {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;

    text-decoration: none;
}

.nav-right a:hover {
    color: white;
}

.logo1 img {
    height: 200px;
}

/*DROPDOWN*/

/* Evitar que las listas anidadas se vean siempre */
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Mostrar dropdown al hacer hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilo de las opciones del dropdown */
.dropdown-menu li a {
    display: block;
    padding: 8px 20px;
    color: darkgreen;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    background: #eee;
}

/*MAIN*/

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

h2 {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 100px;

}

h2.bienvenida {
    color: rgb(44, 44, 44);
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    padding: 10px;
    margin: 20px;
}

h3 {
    color: rgb(44, 44, 44);
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
    text-align: center;

}

.copete {
    background-color: rgb(177, 177, 177);
}

h4 {
    color: rgb(44, 44, 44);
    font-family: "Geom", sans-serif;
    font-weight: 900;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    color: rgb(44, 44, 44);
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    padding-left: 50px;
    padding-right: 50px;
}

.link {
    color: rgb(44, 44, 44);
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: darkgreen;
}

.descubre {
    color: white;
    font-family: "Geom", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #b3e6ae;
    padding: 20px;
    margin: 20px;
}

.contacto {
    display: grid;

    grid-column: auto;
    gap: 10px;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
}

label{
    color: white;
    font-family: "Geom", sans-serif;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #b3e6ae;
    padding: 5px;
    margin: 5px; 
}

.buttonform{
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #b3e6ae;
    padding: 5px;
    margin: 5px;
}

.buttonform:hover{
    color: darkgreen;
    opacity: 50%;
}
/* SECCIÓN DE BÚSQUEDA */

.busqueda {
    background-color: #b3e6ae;
    margin: 30px;
    padding: 10px;
    text-align: center;

}

.busqueda h3 {
    font-size: 40px;
    padding: 0;
    margin-bottom: 20px;
    color: darkgreen;
}

.busqueda p {
    font-family: "Geom", sans-serif;
    font-size: 22px;
    margin-bottom: 40px;
    color: rgb(44, 44, 44);
}

.busqueda-form {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.busqueda-form input {
    width: 320px;
    max-width: 90%;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.busqueda-form button {
    padding: 15px 30px;
    font-family: "Geom", sans-serif;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: darkgreen;
    color: white;
}

.busqueda-form button:hover {
    background-color: #1f5f2a;
}

.busqueda-form {
    padding: 15px 30px;
    font-family: "Geom", sans-serif;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: darkgreen;
    color: white;
}

.busqueda-form:hover {
    color: #b3e6ae;
}


/*FOOTER*/

footer {
    display: flex;
    background-color: #b3e6ae;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

}

/*CARD LUGARES*/

.galeria {
    display: flex;
    
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.cardCiudad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: auto;
    text-decoration: none;
    background-color: rgb(178, 142, 211);
    padding-bottom: 20px;
}


.descripcionCard{
  color: darkgreen;
    font-family: "Geom", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  
}
.busqueda-form a {
    text-decoration: none;
}

.imagenCardCiudad{
    width: 25vw;

}